.App {
    background-color: gray;
    min-height: 100vh;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.boton-imagen {
    max-height: 100px;
}

.boton-imagen-bkg {
    background-color: transparent;
    border: none;
}

.card-slider {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.card-body {
    margin: 10px;
}
